@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Welcome To</h3>
    <h1>The Accounting System</h1>
    <a class="custom-button" asp-area="" asp-page="/auth/signup">SIGN UP</a>
    <a class="custom-button" asp-area="" asp-page="/auth/signin">SIGN IN</a>
</div>
