@page
<div class="container">
    <h3>SIGN IN</h3>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Email</div>
        <div class="col-4"><input type="email" id="emailInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Password</div>
        <div class="col-4"><input type="password" id="passwordInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="submitButton" value="Submit" />
        </div>
    </div>
</div>
<script src="~/js/signin.js"></script>